.outer-about {
  width: 80%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
.main-logo-about {
  margin: auto;
  display: block;
  max-width: 80vw;
}

.main-heading-about {
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
  color: #036c7b;
}

.about-text {
  text-align: center;
  font-size: 18px;
}

.about-section {
  margin-top: 20px;
  text-align: center;
}

.jacky-image {
  margin: auto;
  margin-bottom: 20px;
  height: 200px;
  width: 150px;
  padding: 10px;
  display: inline-block;
}

@media screen and (min-device-width: 620px) {
  .jacky-image {
    margin-bottom: 20px;
    height: 250px;
    width: 200px;
  }

  .about-text {
    margin-top: 30px;
  }
}
@media only screen and (min-device-width: 960px) {
  .jacky-image {
    height: 300px;
    width: 250px;
  }
  .about-section {
    width: 80%;
    margin: auto;
  }
}
@media only screen and (min-device-width: 1200px) {
  .jacky-image {
    height: 400px;
    width: 350px;
  }
  .about-section {
    width: 65%;
    margin: auto;
  }
}
