.footer-bar {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 30px 30px 30px;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  width: 100%;
  height: auto;
  background-color: rgba(149, 169, 36, 1);
  align-items: center;
  justify-items: center;
}

.logos {
  padding: 10px;
  display: inline-block;
}

.footer-text {
  font-size: 18px;
}