.outer-home {
  width: 80%;
  margin: auto;
  font-family: 'Roboto', sans-serif;

}

.main-logo {
  margin-left: 5vw;
  margin-right: 15vw;
  display: block;
  max-width: 80vw;
}

.welcome-text {
  text-align: center;
  font-size: 18px;
}
