html,
body {
  width: 100% !important;
}
.outer-home {
  width: 100%;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

.main-logo {
  margin: auto;
  display: block;
  max-width: 80vw;
}

.main-logo-nav {
  margin: auto;
  display: block;
}

.navbar {
  font-family: "Raleway", sans-serif !important;
}

.welcome-text {
  max-width: 95%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 18px;
}

.main-heading {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  color: #036c7b;
}

.welcome {
  margin-bottom: 15px;
  text-align: center;
  font-size: 26px;
  color: #036c7b;
}

.welcome-section {
  margin-top: 20px;
}

.condition-section {
  margin-top: 50px;
}

.offcanvas {
  background-color: #036c7b;
  color: white;
}

.offcanvas-title {
  font-family: "Raleway", sans-serif !important;
  font-weight: 800;
  font-size: 24px;
  color: #036c7b;
}

.nav-item {
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
}

.nav-link {
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
}

.nav-item:hover {
  color: #0cb5cf !important;
}

.nav-link:hover {
  color: #0cb5cf !important;
}

.dropdown-menu {
  background-color: #cef6fc !important;
  border: none;
}

.dropdown-item:hover {
  background-color: #0cb5cf !important;
  font-weight: 600;
}

.btn-close {
  color: white !important;
}

@media screen and (min-device-width: 620px) {
  .outer-home {
    width: 85%;
    margin: auto;
  }
}
@media only screen and (min-device-width: 960px) {
  .welcome-text {
    max-width: 80%;
  }

  /* .condition-section {
    width: 85%;
    margin: auto;
  } */
}
@media only screen and (min-device-width: 1200px) {
  .welcome-text {
    max-width: 60%;
    font-size: 20px;
  }

  .main-heading {
    margin-bottom: 25px;
    font-size: 25px;
  }

  .welcome {
    margin-bottom: 25px;
    font-size: 36px;
  }

  .welcome-section {
    width: 65%;
    margin: auto;
  }
}
