html,
body {
  width: 100% !important;
}
.outer-home {
  width: 85%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.main-logo {
  margin: auto;
  display: block;
  max-width: 80vw;
}

.welcome-text {
  text-align: center;
  font-size: 18px;
}

.main-heading {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  color: #036c7b;
}

.welcome-section {
  margin-top: 20px;
}

.condition-section {
  margin-top: 50px;
}

.nav-surround {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 2%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-collapse{
  margin-left: 10px;
}

@media screen and (min-device-width: 620px) {
}
@media only screen and (min-device-width: 960px) {
  .welcome-text {
    margin-bottom: 30px;
  }

  .condition-section {
    width: 75%;
    margin: auto;
  }
}
@media only screen and (min-device-width: 1200px) {
  .welcome-text {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .main-heading {
    margin-bottom: 25px;
    font-size: 25px;
  }

  .welcome-section {
    width: 65%;
    margin: auto;
  }
}
