.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.button-container {
  text-align: center;
}
.book {
  margin: auto;
  width: 35%;
  background-color: #0cb5cf;
  color: #036c7b;
  font-weight: bold;
  border: none;
}

.outer-treatments {
  width: 80%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.main-logo-treatments {
  margin: auto;
  display: block;
  max-width: 80vw;
}

.treatment-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.treatment-text-2 {
  /* font-weight: bold; */
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.treatment-heading {
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
  color: #036c7b;
}

.accordion-button {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #036c7b;
}

.treatment-section {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.small-image-container {
  height: 150px;
  width: 150px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  display: inline-block;
}

.treatment-image {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.wide-image-container {
  margin: auto;
  margin-bottom: 15px;
  height: 200px;
  width: 100%;
  padding: 10px;
  display: inline-block;
}

.indian-image-container {
  margin: auto;
  height: 250px;
  width: 100%;
  padding: 10px;
  display: inline-block;
}

.wide-treatment-image {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.thin-wide-treatment-image {
  margin: auto;
  margin-top: 20px;
  height: 150px;
  width: 100%;
  padding: 10px;
  display: inline-block;
}

.treatment-grid {
  height: auto;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
}

.condition-grid {
  height: auto;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.treatment-list {
  text-align: left;
  padding: 0;
  margin: auto;
  list-style-type: none;
}

.treatment-item {
  background: url("../assets/check.png") no-repeat left top;
  padding-left: 44px;
  margin: 20px;
  font-size: 16px;
}

.proper-link {
  color: #036c7b;
}

.treatment-separator {
  border-top: 3px solid #0cb5cf;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.all-treatments {
  margin-top: 5%;
  margin-bottom: 5%;
  margin: auto;
  width: 90%;
}

.all-treatments-wide {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto;
  width: 90%;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
}

.all-treatments-home {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto;
  width: 90%;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 auto;
}

@media screen and (min-device-width: 620px) {
  .treatment-grid {
    width: 60%;
    margin: auto;
  }

  .small-image-container {
    height: 250px;
    width: 250px;
    padding: 20px;
  }

  .wide-image-container {
    height: 250px;
    width: 80%;
  }

  .indian-image-container {
    height: 300px;
    width: 70%;
  }

  .treatment-list {
    margin-top: 20px;
  }

  .treatment-item {
    font-size: 18px;
  }

  .book {
    width: 20%;
  }

  .thin-wide-treatment-image {
    height: 200px;
    width: 100%;
  }

  .card {
    width: 40%;
    flex: 1 1 auto;
  }
}
@media only screen and (min-device-width: 960px) {
  .outer-treatments {
    width: 70%;
  }
  .treatment-grid {
    width: 80%;
    margin: auto;
  }

  .treatment-list {
    width: 80%;
    justify-items: center;
  }

  .small-image-container {
    margin-bottom: 20px;
    height: 250px;
    width: 250px;
    padding: 10px;
  }

  .wide-image-container {
    height: 450px;
    width: 60%;
  }

  .indian-image-container {
    height: 400px;
    max-width: 60%;
  }

  .treatment-section {
    width: 80%;
  }
  .book {
    width: 130px;
  }

  .thin-wide-treatment-image {
    height: 200px;
    width: 100%;
  }

  .all-treatments {
    width: 50%;
  }

  .all-treatments-wide {
    width: 50%;
  }

  .all-treatments-home {
    width: 50%;
  }

  .flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .flex-wrapper-inner {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
  }
}
@media only screen and (min-device-width: 1200px) {
  .treatment-list {
    width: 70%;
  }

  .treatment-grid {
    width: 90%;
    margin: auto;
  }

  .treatment-section {
    width: 80%;
  }

  .indian-image-container {
    height: 450px;
    width: 50%;
  }

  .thin-wide-treatment-image {
    height: 350px;
    width: 100%;
  }
}
